.root {
	padding: 130px 98px 98px 98px;
	background-color: $main-light-blue;

	@media (max-width: 1439px) {
		padding: 100px 60px 60px 60px;
	}

	@media (max-width: 767px) {
		padding: 100px 20px 20px 20px;
	}

	.header {
		margin-bottom: 40px;

		@media (max-width: 1023px) {
			margin-bottom: 20px;
		}


	}

	.breadCrambs {
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: 20px;
		font-weight: 500;
		color: $main-light-black;
		margin-bottom: 28px;

		svg {
			width: 17px;
			height: 17px;

			transform: rotate(-180deg);
		}

		@media (max-width: 1023px) {
			font-size: 16px;
			margin-bottom: 20px;
		}
	}

	.title {
		font-size: 36px;
		font-weight: 700;

		@media (max-width: 1023px) {
			font-size: 32px;
		}
	}

	.content {
		display: flex;
		gap: 20px;

		@media (max-width: 1023px) {
			flex-direction: column;
		}
	}

	.left {
		flex-basis: 45%;

		.map {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			width: 100%;
			height: 400px;
			border-radius: 45px;
			background-color: rgba(202, 234, 217, 1);
			padding: 30px;

			@media (max-width: 767px) {
				height: 320px;
			}

			button {
				background-color: $main-white;
				padding: 20px 16px;
				border-radius: 45px;
				color: $main-blue;
				font-size: 16px;
				outline: none;
				border: none;
				cursor: pointer;
			}
		}
	}

	.right {
		flex-basis: 55%;
		display: flex;
		flex-direction: column;
		gap: 20px;

		.vacancyCard {
			width: 100%;
			padding: 40px;
			background-color: $main-white;
			border-radius: 33px;

			@media (max-width: 1023px) {
				padding: 20px;
			}
		}

		.cardInfo {
			font-size: 20px;

			@media (max-width: 1023px) {
				font-size: 16px;
			}
		}

		.cardAddress {
			display: block;
			margin-bottom: 15px;
		}

		.cardTime {
			margin-bottom: 20px;
		}

		.cardPrice {
			display: flex;
			flex-direction: column;
			margin-bottom: 40px;

			@media (max-width: 1023px) {
				margin-bottom: 20px;
			}

			strong {
				font-size: 36px;
				color: $main-blue;

				@media (max-width: 1023px) {
					font-size: 28px;
				}
			}

			span {
				font-size: 20px;

				@media (max-width: 1023px) {
					font-size: 16px;
				}
			}
		}

		.cardIcons {
			display: flex;
			gap: 20px;
			font-size: 20px;
			margin-bottom: 40px;

			@media (max-width: 1023px) {
				margin-bottom: 28px;
			}
		}

		.takeOrder {
			border: none;
			outline: none;
			background-color: $main-blue;
			color: $main-white;
			padding: 20px 60px;
			border-radius: 45px;
			cursor: pointer;
		}

		.accardionsGroup {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		.vacancyList {
			margin-top: 20px;

			h4 {
				display: block;
				font-size: 36px;
				font-weight: 700;
				margin-bottom: 28px;
			}
		}

		.yourRequired {
			padding: 0 20px 20px 80px;
			font-size: 16px;
			color: $main-light-black;

			@media (max-width: 767px) {
				padding: 0 20px 0 20px;
			}

			p {
				margin-bottom: 10px;
			}

			ul {
				padding: 0;
			}

			a {
				display: block;
				color: $main-blue;
				margin-top: 20px;
			}

			.apps {
				div {
					display: flex;
					gap: 8px;
				}

				a {
					display: flex;
					align-items: center;
					padding: 13px;
					border-radius: 15px;
					background: $main-light-blue;
				}

				img {
					height: 18px;
					width: auto;
				}
			}
		}
	}
}
