.root {
  background: #fff;
  border-radius: 33px;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {

}

.count {
  font-weight: 400;
  margin-left: 5px;

  @media (max-width: 767px) {
    display: none;
  }
}

.clear {
  background: none;
  border: none;
  color: $main-blue;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.arrow {
  transition: transform 0.25s ease;
}

.arrow.open {
  transform: rotate(-180deg);
}

.title {
  font-size: 16px;
  font-weight: 700;
}

.collapse {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-6px);
  transition:
          max-height 0.35s ease,
          opacity 0.25s ease,
          transform 0.25s ease;
}

.collapse.open {
  max-height: 620px;
  opacity: 1;
  transform: translateY(0);
}

.content {
  padding: 0 20px 20px;
}

.search {
  position: relative;
  margin-bottom: 28px;

  .searchIcon {
    position: absolute;
    top: 54%;
    left: 12px;
    transform: translateY(-50%);
  }

  input {
    width: 100%;
    border-radius: 999px;
    padding: 12px 18px 12px 40px;
    border: 1px solid #bdbdbd;
  }
}

.list {
  max-height: 260px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.item {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;

  input {
    display: none;
  }
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1.5px solid $main-light-black;
}

.item input:checked + .checkbox {
  background: $main-blue;
  border-color: $main-blue;

  &::after {
    content: '✓';
    color: #fff;
    display: block;
    text-align: center;
  }
}