.root {
  background-color: $main-light-blue;
  padding: 40px 0;

  @media (max-width:1440px) {
    padding: 40px 60px;
  }

  @media (max-width: 767px) {
    padding: 20px;
  }

  .container {
    max-width: 864px;
    margin: 0 auto;
  }

  .header {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 60px;

    @media (max-width: 1023px) {
      margin-bottom: 40px;
      gap: 20px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
      gap: 15px;
    }

    img {
      width: 72px;
      height: 72px;

      @media (max-width: 1023px) {
        width: 60px;
        height: 60px;
      }
    }

    h4 {
      font-size: 36px;

      @media (max-width: 1023px) {
        font-size: 32px;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .duty {
    display: flex;
    flex-direction: column;
    background-color: $main-white;
    padding: 40px;
    border-radius: 45px;
    font-size: 16px;

    @media (max-width: 767px) {
      padding: 24px;
      border-radius: 22px;
    }

    span {
      font-weight: 700;
    }
  }
}