.root {
  padding-top: 70px;
  margin-bottom: 43px;

  h4 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;

    @media (max-width: 1023px) {
      font-size: 42px;
    }

    @media (max-width: 767px) {
      font-size: 36px;
      margin-bottom: 28px;
    }

    span {
      color: #0065E1;
    }
  }


  .list {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 27px;

    @media (max-width: 1023px) {
      gap: 10px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      padding: 0 15px;
    }
  }

  .left, .right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 300px;

    @media (max-width: 1023px) {
      width: 50%;
      gap: 10px;
    }

    @media (max-width: 767px) {
    width: 100%;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 246px;
    height: 165px;
    background: #fff;
    padding: 13px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

    @media (max-width: 1023px) {
      max-width: 100%;
    }

    @media (max-width: 767px) {
     align-items: center;
      text-align: center;
    }

    p {
      font-size: 14px;
      line-height: 1.4;
    }

    h3 {
      font-size: 24px;
      color: #3b6ef5;
      margin-bottom: 6px;
    }

    &:nth-child(even) {
      margin-left: auto;

      @media (max-width: 1023px) {
        margin: 0;
      }
    }
  }

  .left {

    .card {
      margin-left: auto;

      @media (max-width: 1023px) {
        margin: 0;
      }

      &:nth-child(even) {
        margin: 0;
      }
    }
  }


  .center {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: -1;

    @media (max-width: 1023px) {
      img {
        display: none;
      }
    }

    img {
      width: 512px;
      height: auto;
    }
  }
}