 .root {
    display: flex;
    min-height: 690px;
    position: relative;
    overflow: hidden;

    @media (min-width: 1440px) {
    }

    @media (max-width: 1023px) {
      flex-direction: column;
      height: fit-content;
      //padding: 20px 80px 84px;
    }

    @media (max-width: 766px) {

    }
  }

  .left {
    flex: 2;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 120px 0 60px 98px;

    @media (min-width: 1440px) {
      padding-top: 150px;
    }

    @media (max-width: 1023px) {
      padding: 110px 80px 84px;
    }

    @media (max-width: 767px) {
      padding: 110px 20px 28px;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 44px;

    @media (max-width: 1440px) {
      gap: 24px;
      margin-bottom: 40px;
    }

    @media (max-width: 1023px) {
      order: 2;
    }

    @media (max-width: 767px) {
      margin-bottom: 24px;
    }

    & span {
      font-size: 20px;
      font-weight: 700;
      color: $main-blue;

      @media (max-width: 1023px) {
        display: none;
      }

      &:last-child {
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: $main-black;
        line-height: 18px;
        margin-bottom: 155px;

        @media (max-width: 1023px) {
          margin-bottom: 0;
        }
      }
    }

    & h3 {
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;

      @media (max-width: 1023px) {
        font-size: 32px;
        line-height: 32px;
      }
    }
  }


  .getWork {
    width: fit-content;
    padding: 20px 33px;
    background-color: $main-blue;
    border-radius: 45px;
    border: none;
    outline: none;
    color: $main-white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 32px;
    cursor: pointer;
    transition: all .4s;

    &:hover	{
      background-color: $color-hover-primary;
    }

    @media (max-width: 1023px) {
      width: 100%;
      font-size: 18px;
      order: 4;
      margin-bottom: 0;
    }
  }

  .apk {
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
    width: fit-content;
    padding: 10px;

    a {
      cursor: pointer;
      display: flex;
      gap: 5px;
      align-items: center;

      p {
        display: flex;
        flex-direction: column;

        span {
          font-size: 12px;
          font-weight: 500;

          &:last-child{
            font-size: 12px;
          }
        }
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .apps {
    display: flex;
    gap: 14px;
    margin-top: auto;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 13px;
      border-radius: 10px;
      background: $main-white;
    }

    @media (max-width: 1023px) {
      margin-bottom: 40px;
      order: 1;
    }

    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
  }

  .right {
    flex: 1;
    position: relative;
    width: 300px;

    @media (max-width: 1023px) {
      width: 100%;

    }

    @media (max-width: 767px) {
    }
  }

  .formImage {
    position: absolute;
    right: -170px;
    top: -20px;
    z-index: 0;

    & img {
      width: 901px;
      height: auto;

      @media (min-width: 1440px) {
        top: 0;
        right: 0;
      }

      @media (max-width: 1023px) {
        width: 771px;
      }

      @media (max-width: 767px) {
        width: 420px;
      }
    }



    @media (max-width: 1023px) {
      bottom: 0;
      top: auto;
      right: -50px;
    }

    @media (max-width: 767px) {
      top: 0;
      bottom: auto;
      right: -20px;
    }

    @media (max-width: 480px) {
      //right: -100px;
    }
  }

  .personImage {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;

    @media (max-width: 1023px) {
      position: relative;
    }

    & img {
      width: 783px;
      height: auto;


      @media (min-width: 1440px) {
        width: 900px;
      }

      @media (max-width: 1200px) {
        width: 733px;
      }

      @media (max-width: 1023px) {
        position: relative;
        width: 756px;
        margin: 0 auto;
        bottom: 0;
        right: 0;
      }

      @media (max-width: 767px) {
        width: 360px;
      }
    }
  }

  .personInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $main-white;
    border-radius: 16px;
    padding: 36px;
    position: absolute;
    left: -200px;
    z-index: 1;

    &__title {
      color: $main-blue;
      font-size: 16px;
      font-weight: 500;

      @media (max-width: 767px) {
        line-height: 32px;
      }
    }

    &__price {
      font-weight: 700;
      font-size: 32px;

      & br {
        display: none;
      }

      @media (min-width: 1400px) {
        font-size: 44px;
      }

      @media (max-width: 767px) {
        & br {
          display: block;
        }
      }
    }



    @media (min-width: 1023px) {
      position: absolute;
      left: -450px;
      width: fit-content;
      height: fit-content;
      bottom: 80px;
    }

    @media (max-width: 1200px) {
      left: -330px;
    }


    @media (max-width: 1023px) {
      max-width: 670px;
      position: relative;
      left: auto;
      margin: 0 auto;
    }

    @media (max-width: 767px) {
      max-width: calc(100% - 100px);
      padding: 20px;
      margin-bottom: 80px;
    }
  }
