.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  .inputsGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    gap: 26px;

    @media (max-width: 550px) {
      flex-direction: column;
    }
  }

  .input {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    color: $main-white;

    & input {
      width: 100%;
      height: 58px;
      color: $main-black;
      padding: 0 14px;
      border: none;
      outline: none;
      font-size: 16px;
      border-bottom: 0.5px solid $main-light-black;
      background-color: rgba(0, 0, 0, 0.03);

      &::placeholder {
        color: $main-light-black;
        opacity: 0.7;
      }
    }

    & label {
      color: $main-black;
      font-weight: 700;
    }
  }

  .text {
    color: $main-black;
    line-height: 17px;
    margin-bottom: 44px;
    text-align: center;
    & a {
      color: $main-black;
      text-decoration: underline;
    }
  }
  .sendBtn {
    border: none;
    outline: none;
    padding: 20px 28px;
    border-radius: 45px;
    font-size: 20px;
    background-color: $main-blue;
    color: $main-white;
    font-weight: 500;
    cursor: pointer;

    &:disabled {
      opacity: .5;
    }
    @media (max-width: 1023px) {
      width: 100%;
    }
  }
}