.root {
	margin-top: 80px;
	padding: 0 60px;

	@media (min-width: 1440px) {
		padding: 0 98px;
	}

	@media (max-width: 767px) {
		padding: 20px;
	}

	.content {
		position: relative;
		height: 340px;
		background-color: $main-light-blue;
		border-radius: 33px;
		padding: 44px;

		@media (min-width: 1440px) {
			height: 376px;
			padding: 60px;
		}

		@media (max-width: 1023px) {
			padding: 20px;
		}

		@media (max-width: 767px) {
			height: 471px;
			padding-bottom: 28px;
		}
	}

	.left {
		@media (max-width: 1023px) {
			display: flex;
			flex-direction: column;
			height: 100%;
			width: 50%;

			@media (max-width: 767px) {
				width: 100%;
			}
		}

		h4 {
			font-size: 36px;
			margin-bottom: 26px;

			@media (max-width: 1023px) {
				font-size: 32px;
				margin-bottom: 20px;
			}
		}

		span {
			display: block;
			font-size: 20px;
			color: $main-light-black;
			margin-bottom: 40px;

			@media (max-width: 1023px) {
				font-size: 16px;
			}
		}

		button {
			border: none;
			outline: none;
			border-radius: 45px;
			background-color: $main-blue;
			font-size: 20px;
			font-weight: 500;
			color: $main-white;
			padding: 20px 26px;

			@media (max-width: 1023px) {
				font-size: 16px;
				margin-top: auto;
			}
		}
	}

	.image {
		position: absolute;
		bottom: -5;
		right: 0;


		@media (max-width: 767px) {
			bottom: 80px;
			right: 50%;
			transform: translateX(50%);
		}

		& img {
			width: 714px;
			height: auto;

			@media (min-width: 1440px) {
				width: 780px;
			}

			@media (max-width: 1210px) {
				width: 557px;
			}

			@media (max-width: 1023px) {
				width: 385px;
			}

			@media (max-width: 767px) {
				width: 252px;
			}
		}
	}
}
