

.root {
  display: flex;
  height: 100vh;
  max-height: 850px;
  position: relative;
  overflow: hidden;
  background-color: $main-light-blue;
  padding-left: 90px;

  @media (min-width: 1440px) {
  }

  @media (max-width: 1440px) {
    padding-left: 60px;
  }


  @media (max-width: 1023px) {
    height: fit-content;
    padding: 20px;
  }

  @media (max-width: 766px) {
    padding: 20px 20px 84px;
  }
}

.left {
  display: flex;
  gap: 10px;
  position: relative;
  width: 70%;
  height: 100%;
  align-items: center;
  z-index: 1;


  @media (min-width: 1440px) {
  }

  @media (max-width: 1023px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 140px;
  }

  @media (max-width: 767px) {
    gap: 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 50%;

    @media (max-width: 1023px) {
      width: 100%;
      align-items: center;
      text-align: center;
      margin-top: 50px;
    }

    @media (max-width: 767px) {
      margin-top: 0;
    }


    .header {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-bottom: 44px;

      @media (max-width: 1440px) {
        gap: 24px;
        margin-bottom: 40px;
      }

      @media (max-width: 1023px) {
        order: 1;
      }

      @media (max-width: 767px) {
        margin-bottom: 24px;
      }

      & span {
        font-size: 22px;
        font-weight: 400;
      }

      & h3 {
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;

        @media (max-width: 1023px) {
          font-size: 32px;
          line-height: 32px;
        }
      }
    }

    .getWork {
      width: fit-content;
      padding: 20px 33px;
      background-color: $main-blue;
      border-radius: 45px;
      border: none;
      outline: none;
      color: $main-white;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 32px;
      cursor: pointer;
      transition: all .4s;

      &:hover	{
        background-color: $color-hover-primary;
      }

      @media (max-width: 1023px) {
        font-size: 18px;
        order: 2;
        margin-bottom: 0;
      }

      @media (max-width: 767px) {

      }
    }

    .apps {
      display: flex;
      gap: 14px;


      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px;
        border-radius: 10px;
        background: $main-white;
      }

      @media (max-width: 1023px) {
        margin-top: 40px;
        order: 3;
      }

      @media (max-width: 767px) {
        margin-bottom: 24px;
      }
    }
  }

  .advantages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 50%;
    height:fit-content;
    background-color: $main-white;
    border-radius: 26px;
    box-shadow: 0 2px 5.8px 0 rgba(184, 184, 184, 0.25);
    z-index: 1;
    padding: 24px;

    @media (max-width: 1023px) {
      background-color: transparent;
      box-shadow: none;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 767px;
    }


    @media (max-width: 767px) {
      flex-direction: column;
      width: 100%;
      br {
        display: none;
      }
    }
  }

  .advantage {
    display: flex;
    gap: 20px;
    align-items: center;

    .icon {
      width: 66px;
      height: 66px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 101, 225, 1);
      border-radius: 5px;

      @media (max-width: 767px) {
        width: 38px;
        height: 38px;

        svg {
          width: 20px;
          height: auto;
        }
      }
    }

    span {
      font-size: 20px;
      font-weight: 500;

      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
}

.right {
  flex: 1;
  position: relative;
  right: 50px;

  @media (min-width: 1440px) {
    right: 0;
  }

  @media (max-width: 1023px) {
    position: absolute;
    right: 50px;
  }

  @media (max-width: 767px) {
    right: 150px;
  }

  .formImage {
    position: absolute;
    right: -50px;
    top: -30px;
    z-index: 0;

    @media (min-width: 1440px) {
      top: 0;
      right: 0;
    }

    @media (max-width: 1023px) {
      top: -30px;
    }

    @media (max-width: 767px) {
      right: -150px;
      top: -50px;
    }

    @media (max-width: 480px) {

    }

    & img {
      width: 1020px;
      height: auto;

      @media (min-width: 1440px) {
        width: 1150px;
      }

      @media (max-width: 1440px) {
      }

      @media (max-width: 1023px) {
        width: 700px;
      }

      @media (max-width: 767px) {
        width: 600px;
      }
    }


  }

  .personImage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    z-index: 10;

    @media (max-width: 1023px) {
      display: none;
    }

    & img {
      position: absolute;
      bottom: 0;
      width: 703px;
      height: auto;

      @media (min-width: 1440px) {
        width: 750px;
      }

      @media (max-width: 1440px) {
        width: 660px;
      }


      @media (max-width: 1023px) {

      }

      @media (max-width: 767px) {

      }
    }
  }
}


