.root {
	background: $main-light-blue;
	padding: 60px 0;

	@media (max-width: 1023px) {
		padding: 40px 0;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 51px;
	padding: 0 98px;

	@media (max-width: 1023px) {
		margin-bottom: 28px;
		padding: 0 60px;
	}

	@media (max-width: 767px) {
		margin-bottom: 28px;
		padding: 0 20px;
	}

	h2 {
		font-size: 36px;
		font-weight: 700;

		@media (max-width: 1023px) {
			font-size: 32px;
		}

		@media (max-width: 767px) {
			font-size: 32px;
			max-width: 250px;
		}
	}
}

.actions {
	display: flex;
	align-items: center;
	gap: 20px;

	@media (max-width: 767px) {
		display: none;
	}
}

.all {
	padding: 15px 21px;
	border-radius: 45px;
	border: 1px solid $main-light-black;
	background: transparent;
	cursor: pointer;
	font-size: 18px;


	@media (max-width: 1023px) {
		display: none;
	}
}

.arrows {
	display: flex;
	gap: 8px;

	button {
		width: fit-content;
		height: fit-content;
		border: none;
		outline: none;
		cursor: pointer;
		background-color: transparent;

		& svg {
			width: 44px;
			height: 44px;
		}
	}
}

.viewport {
	overflow: hidden;
}

.track {
	display: flex;
	gap: 24px;
	overflow-x: auto;
	scroll-behavior: smooth;
	padding-bottom: 8px;

	&::-webkit-scrollbar {
		display: none;
	}
}

.dragging {
}

.card {
	min-width: 288px;
	height: 190px;
	background: #fff;
	border-radius: 20px;
	padding: 20px;
	cursor: grabbing;

	@media (max-width: 767px) {
		min-width: 255px;
		height: 224px;
	}
}

.top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 18px;
}

.rating {
	display: flex;
	align-items: center;
	align-self: flex-start;
	gap: 5px;
	font-size: 20px;
	font-weight: 500;
	user-select: none;

  & svg {
	  width: 17px;
	  height: 16px;

	  @media (max-width: 767px) {
		  width: 14px;
		  height: 13px;
	  }
  }
	@media (max-width: 1023px) {
		font-size: 18px;
	}
}

.name {
	color: $main-blue;
	font-weight: 500;
	font-size: 20px;
	user-select: none;

	@media (max-width: 1023px) {
		font-size: 18px;
	}
}

.info {
	display: flex;
	flex-direction: column;
}

.date {
	font-size: 16px;
	font-weight: 500;
	color: $main-light-black;
	user-select: none;
}

.text {
	line-height: 16.5px;
	user-select: none;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
	text-overflow: ellipsis;

	@media (max-width: 767px) {
		-webkit-line-clamp: 8;
	}
}

.allMobileWrapper {
	margin-top: 20px;
	padding: 0 60px;

	@media (max-width: 767px) {
		padding: 0 20px;
	}
}

.allMobile {
	display: none;
	@media (max-width: 1023px) {
		display: block;
		padding: 15px 21px;
		width: 100%;
		border-radius: 45px;
		border: 1px solid $main-light-black;
		background: transparent;
		cursor: pointer;
		font-size: 18px;
	}
}