.root {
	margin-top: 40px;

	@media (max-width: 1440px) {

	}

	@media (max-width: 1023px) {
		margin-top: 28px;
		padding: 0 60px;
	}

	@media (max-width: 767px) {
		padding: 0 20px;
	}



	.title {
		display: flex;
		gap: 30px;
		align-items: center;
		margin-bottom: 40px;



		@media (max-width: 1023px) {
			margin-bottom: 20px;
			gap: 20px;
		}

		@media (max-width: 767px) {
			flex-direction: column;
			align-items: flex-start;
		}

		h2 {
			font-size: 36px;

			@media (max-width: 1023px) {
				font-size: 32px;
			}
		}

		img {
			width: 72px;
			height: 72px;

			@media (max-width: 1023px) {
				width: 60px;
				height: 60px;
			}
		}
	}

	.list {
		display: flex;
		flex-direction: column;
		gap: 5px;

		@media (max-width: 767px) {
			gap: 10px;
		}

		h4 {
			font-size: 20px;
			margin-bottom: 10px;
		}

		p {
			margin-top: 15px;
		}
	}

	.hide {
		@media (max-width: 1023px) {
			display: none;
		}
	}

	.condition {
		display: flex;
		align-items: center;
		width: 100%;
		font-size: 16px;

		.conditionLine {
			color: $main-blue;
			font-size: 24px;
			font-weight: 700;
			margin-right: 10px;
		}

		.conditionTitle {
			color: $main-black;

			span {
				color: $main-blue;
			}
		}
	}

	.warning {
		width: 100%;
		padding: 28px;
		background-color: $main-light-blue;
		border-radius: 45px;
		margin: 40px 0;

		.warningTitle {
			display: flex;
			align-items: center;
			gap: 30px;
			font-size: 30px;
			font-weight: 700;
			margin-bottom: 40px;

			@media (max-width: 767px) {
				margin-bottom: 20px;
			}

			@media (max-width: 767px) {
				flex-direction: column;
				align-items: flex-start;
				gap: 10px;
			}

			img {
				width: 72px;
				height: 72px;

				@media (max-width: 1023px) {
					width: 60px;
					height: 60px;
				}
			}
		}

		p {
			font-size: 16px;
		}
	}

	.averageVolume {
		margin-top: 40px;

		h4 {
			font-size: 20px;
			margin-bottom: 20px;
		}

		@media (max-width: 1023px) {
			display: none;
		}
	}
}
