.root {
  margin-top: 100px;

  .content {
    display: flex;
    width: 100%;
    height: 782px;

    @media (max-width: 1023px) {
      height: 480px;
    }
  }

  .left {
    position: relative;
    height: 100%;
    width: 50%;
  }

  .left {
    width: 50%;

    @media (max-width: 1023px) {
      display: none;
    }
  }

  .right {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #FFE458;

    @media (max-width: 1023px) {
     width: 100%;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    padding: 0 120px 0 50px;
    margin-left: -80px;
    background-color: #FFE458;

    @media (max-width: 1023px) {
      width: 100%;
      height: 100%;
      margin-left: 0;
      padding: 0 30px;
      text-align: center;
    }

    @media (max-width: 767px) {
      padding: 0 14px;
    }

    h4 {
      font-size: 42px;
      margin-bottom: 13px;

      @media (max-width: 1023px) {
        font-size: 36px;
      }

      @media (max-width: 767px) {
        font-size: 28px;
      }
    }

    p {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 60px;

      @media (max-width: 1023px) {
        font-size: 20px;
      }

      @media (max-width: 767px) {
        font-size: 18px;
      }
    }

    .mark {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 24px;

      @media (max-width: 1023px) {
        font-size: 20px;
      }

      @media (max-width: 767px) {
        font-size: 18px;
      }
    }

    .dropdown {

      & button {
        border-radius: 33px;
        border-bottom: none;
        background-color: $main-white;
        padding-right: 25px;
      }
    }
  }
}