.root {
	background-color: $main-light-blue;
	padding-top: 160px;
	padding-bottom: 60px;

	@media (max-width: 1439px) {
		//padding-top: 40px;
	}

	@media (max-width: 1023px) {
		padding-top: 110px;
	}
}

.content {
	display: flex;
	gap: 20px;
	padding: 0 98px;

	@media (min-width: 1440px) {
		padding: 0 130px;
	}

	@media (max-width: 1439px) {
		padding: 0 60px;
	}

	@media (max-width: 767px) {
		padding: 0 20px;
	}
}

.desctopFilters {
  flex-basis: 30%;

	@media (min-width: 1440px) {
		flex-basis: 40%;
	}

  @media (max-width: 1023px) {
    display: none;
  }

}

.list {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
