.root {
	padding: 120px 98px;
	background-color: $main-white;

	@media (min-width: 1440px) {
		padding: 140px 98px;
	}

	@media (max-width: 1440px) {
		padding: 120px 60px 40px;
	}

	@media (max-width: 767px) {
		padding: 120px 20px 20px;
	}

	.header {
		margin-bottom: 60px;

		@media (max-width: 1023px) {
			margin-bottom: 40px;
		}
	}

	.title {
		font-size: 36px;
		font-weight: 700;

		@media (max-width: 1023px) {
			font-size: 32px;
		}
	}

	.list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 20px;
		margin: 0 auto;

		@media (max-width: 767px) {
			flex-direction: column;
		}
	}

	.card {
		.image {
			position: relative;
			width: 316px;
			height: 248px;
			max-width: 316px;
			background-color: $main-light-blue;
			border-radius: 24px;
			margin-bottom: 28px;
			cursor: pointer;

			@media (max-width: 767px) {
				width: 100%;
				max-width: 100%;
			}

			& img {
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				height: 268px;
				width: auto;

				@media (max-width: 1919px) {

				}
			}
		}

		.info {
			margin-bottom: 30px;
			padding: 0 30px;

			@media (max-width: 767px) {
				padding: 0 20px;
			}

			.date {
				display: flex;
				width: 100%;
				justify-content: space-between;
				color: $main-light-black;
				font-size: 16px;
				font-weight: 500;
				margin-bottom: 30px;

				@media (max-width: 1023px) {
					margin-bottom: 20px;
				}
			}

			span {
				color: $main-black;
				font-size: 22px;
				font-weight: 700;

				@media (max-width: 1023px) {
					font-size: 18px;
				}
			}
		}


	}
}
