.root {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	background-color: $main-blue;
	border-radius: 32px;
	padding: 44px 60px;
	max-width: 920px;
	margin: 0 auto;
	text-align: center;

	@media (max-width: 1023px) {
		padding: 40px 20px;
	}

	@media (max-width: 767px) {
		padding: 28px 20px;
	}

	.title {
		font-size: 36px;
		font-weight: 700;
		line-height: 36px;
		color: $main-white;
		margin-bottom: 44px;

		@media (max-width: 1023px) {
			font-size: 32px;
			line-height: 32pz;
			margin-bottom: 40px;
		}

		@media (max-width: 500px) {
			& span {
				&:last-child {
					font-size: 16px;
					font-weight: 500;
				}
			}
		}
	}

	.inputsGroup {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-bottom: 24px;
	}

	.row {
		display: flex;
		justify-content: space-between;
		gap: 26px;

		@media (max-width: 550px) {
			flex-direction: column;
		}
	}

	.input {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;

		color: $main-white;

		& input {
			width: 100%;
			height: 58px;
			color: $main-white;
			padding: 0 12px;
			border: none;
			outline: none;
			font-size: 16px;
			border-bottom: 0.5px solid $main-white;
			background-color: #1570e3;

			&::placeholder {
				color: $main-white;
				opacity: 0.7;
			}
		}

		& label {
			font-weight: 700;
		}
	}

	.text {
		color: $main-white;
		line-height: 17px;
		margin-bottom: 44px;

		& a {
			color: $main-white;
			text-decoration: underline;
		}
	}

	.sendBtn {
		border: none;
		outline: none;
		padding: 20px 28px;
		border-radius: 45px;
		font-size: 20px;
		color: $main-blue;
		font-weight: 500;
		cursor: pointer;
		transition: all 0.4s;

		&:hover {
			color: $color-blue-500;
		}

		&:disabled {
			opacity: 0.5;
		}

		@media (max-width: 1023px) {
			width: 100%;
		}
	}
}
