.root {
	background-color: $main-light-blue;

	.banner {
		display: flex;
		min-height: 690px;
		position: relative;
		overflow: hidden;

		@media (min-width: 1440px) {
			padding-top: 30px;
		}
		@media (max-width: 1023px) {
			flex-direction: column;
			height: fit-content;
			padding: 20px 80px 0;
		}

		@media (max-width: 766px) {
			padding: 20px 20px 0;
		}
	}

	.left {
		flex: 2;
		position: relative;
		z-index: 5;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		padding: 120px 0 60px 98px;

		@media (min-width: 1440px) {
			padding-top: 150px;
		}

		@media (max-width: 1023px) {
			padding-top: 90px;
			padding-left: 0;
			padding-bottom: 0;
		}

		@media (max-width: 767px) {
			padding-bottom: 0;
		}
	}

	.header {
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin-bottom: 44px;

		@media (max-width: 1440px) {
			gap: 24px;
			margin-bottom: 40px;
		}

		@media (max-width: 1023px) {
			order: 2;
		}

		@media (max-width: 767px) {
			margin-bottom: 24px;
		}

		& span {
			font-size: 20px;
			font-weight: 700;
			color: $main-blue;

			@media (max-width: 1023px) {
				display: none;
			}
		}

		& h3 {
			font-size: 36px;
			font-weight: 700;
			line-height: 40px;

			@media (min-width: 1440px) {
				font-size: 48px;
			}

			@media (max-width: 1023px) {
				font-size: 32px;
				line-height: 32px;
			}
		}

		& p {
			font-size: 18px;
			max-width: 400px;
			line-height: 28px;

			@media (max-width: 1023px) {
				font-size: 16px;
				line-height: 24px;
				max-width: 600px;
			}

			@media (max-width: 767px) {
				line-height: 20px;
			}
		}
	}


	.apps {
		display: flex;
		gap: 14px;
		margin-top: auto;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 13px;
			border-radius: 10px;
			background: $main-white;
		}

		@media (max-width: 1023px) {
			margin-bottom: 40px;
			order: 1;
		}

		@media (max-width: 767px) {
			margin-bottom: 24px;
		}
	}

	.apk {
		padding: 10px;
		border-radius: 10px;
		background-color: $main-white;
		width: fit-content;
		margin-top: 13px;

		@media (max-width: 1023px) {
			margin-top: 0;
			margin-bottom: 13px;
		}


		a {
			cursor: pointer;
			display: flex;
			gap: 5px;
			align-items: center;

			p {
				display: flex;
				flex-direction: column;
				margin-bottom: 0;

				span {
					font-size: 12px;
					font-weight: 500;

					&:last-child{
						font-size: 12px;
					}
				}
			}
			svg {
				width: 20px;
				height: 20px;
			}
		}
	}

	.right {
		flex: 1;
		position: relative;
		width: 300px;

		@media (max-width: 1023px) {
			width: 100%;
		}

		@media (max-width: 767px) {
		}
	}

	.formImage {
		position: absolute;
		right: -170px;
		top: -20px;
		z-index: 0;

		& img {
			width: 901px;
			height: auto;

			@media (max-width: 1023px) {
				width: 770px;
			}

			@media (max-width: 767px) {
				width: 420px;
			}
		}

		@media (min-width: 1440px) {
			top: 0;
			right: 0;
		}

		@media (max-width: 1023px) {
			bottom: -150px;
			top: auto;
			right: -90;
		}

		@media (max-width: 767px) {
			bottom: -150;
		}

		@media (max-width: 480px) {
			right: -100px;
		}
	}

	.personImage {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: 100%;

		& img {
			position: absolute;
			bottom: -10px;
			right: 80px;
			width: 586px;
			height: auto;

			@media (min-width: 1440px) {
				right: 250px;
			}

			@media (max-width: 1023px) {
				position: relative;
				width: 502px;
				margin: 0 auto;
				bottom: 0;
				right: 0;
			}

			@media (max-width: 767px) {
				width: 232px;
			}
		}
	}

	.personInfo {
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: $main-white;
		border-radius: 16px;
		padding: 36px;
		position: relative;
		z-index: 0;

		&__title {
			color: $main-blue;
			font-size: 16px;
			font-weight: 500;

			@media (max-width: 767px) {
				line-height: 32px;
			}
		}

		&__price {
			font-weight: 700;
			font-size: 32px;

			@media (min-width: 1400px) {
				font-size: 44px;
			}
		}

		@media (min-width: 1023px) {
			position: absolute;
			left: -300px;
			width: fit-content;
			height: fit-content;
			bottom: 140px;
		}

		@media (min-width: 1400px) {
			left: -400px;
			bottom: 112px;
		}
		@media (min-width: 1600px) {
		}

		@media (max-width: 767px) {
			padding: 20px;
		}
	}
}
