.root {
  padding: 40px 0;

  @media (max-width: 1023px) {
    padding: 40px 60px;
  }

  @media (max-width: 767px) {
    padding: 20px;
  }

  .header {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 60px;

    @media (max-width: 1023px) {
      margin-bottom: 40px;
      gap: 20px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
      gap: 15px;
    }

    img {
      width: 72px;
      height: 72px;

      @media (max-width: 1023px) {
        width: 60px;
        height: 60px;
      }
    }

    h4 {
      font-size: 36px;

      @media (max-width: 1023px) {
        font-size: 32px;
      }
    }
  }


  .workShifts {
    display: flex;
    flex-direction: column;
    gap: 5px;


    h6 {
      font-size: 20px;
      margin-bottom: 5px;

      @media (max-width: 1023px) {
        margin-bottom: 0;
      }
    }

    .shift {
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 16px;

      .slash {
        color: $main-blue;
        font-size: 24px;
        font-weight: 700;
        margin-right: 10px;
      }

      .time {
        color: $main-black;
      }
    }


  }

  .requirements {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;

    h6 {
      font-size: 20px;
      margin-bottom: 15px;

      @media (max-width: 1023px) {
        margin-bottom: 5px;
      }
    }

    .requirement {
      display: flex;
      flex-direction: column;
      gap: 5px;
      background-color: $main-light-blue;
      border-radius: 44px;
      padding: 24px;
      font-size: 16px;

      span {
        font-weight: 700;
      }
    }
  }
}