.root {
  background-color: $main-white;

  .bannerWrapper {
    padding: 60px 98px;

    @media (max-width: 1439px) {
      padding: 60px 60px;
    }
  }

  .banner {
    position: relative;
    width: 100%;
    height: 340px;
    background-color: $main-light-blue ;
    border-radius: 16px;

    @media(min-width: 1440px) {
      height: 454px;
    }
  }
}

.image {

  img {
    position: absolute;
    bottom: 0;
    width: auto;
    height: 368px;
    right: 0;

    @media(min-width: 1440px) {
      height: 490px;
    }


    @media(max-width: 1023px) {
      height: 357px;
    }

    @media(max-width: 767px) {
      height: 238px;
    }
  }
}