// colors
$main-white: #ffff;

$main-blue: #0065e1;
$main-light-blue: #edf5ff;

$main-black: #000000;
$main-light-black: rgba(0, 0, 0, 0.4);

$color-blue-500: #0070ff;

$color-hover-primary: #3e88e8;

$color-hover-blue-200: #9fc7f8;
