.root {
	position: relative;
	width: 100%;
	height: 884px;
	padding: 60px;

	@media (max-width: 1150px) {
		height: fit-content;
		padding: 60px 25px;
	}

	@media (max-width: 767px) {
		padding: 30px 15px;
	}

	h4 {
		font-size: 42px;
		font-weight: 700;
		color: $main-white;
		margin-bottom: 70px;

		@media (max-width: 1150px) {
			text-align: center;
			font-size: 32px;
			margin-bottom: 50px;
		}

      @media (max-width: 767px) {
        text-align: center;
        font-size: 32px;
        margin-bottom: 20px;
      }
	}

	.bg {
		object-fit: cover;
		z-index: -1;

		@media (max-width: 1350px) {
			object-position: -550px 0;
		}

		@media (max-width: 1150px) {
			object-position: -800px 0;
		}

		@media (max-width: 1023px) {
			object-position: -750px 0;
		}

		@media (max-width: 767px) {
			object-position: -250px;
		}
	}

	.slider {
		@media (max-width: 767px) {
			overflow: hidden;
			max-width: 900px;
			margin: 40px auto 0;
		}
	}

	.advantages {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas:
			'card1 card2 .'
			'card3 card4 card5';
		gap: 22px;
		max-width: calc(1000px - 120px);

		@media (max-width: 1150px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		@media (max-width: 767px) {
			display: flex;
			flex-wrap: nowrap;
			transition: transform 0.5s ease;
		}
	}

	.card:nth-child(1) {
		grid-area: card1;
	}
	.card:nth-child(2) {
		grid-area: card2;
	}
	.card:nth-child(3) {
		grid-area: card3;
	}
	.card:nth-child(4) {
		grid-area: card4;
	}
	.card:nth-child(5) {
		grid-area: card5;
	}

	.card {
		width: 333px;
		height: 289px;
		background: $main-white;
		padding: 23px 18px;
		border-radius: 16px;
		display: flex;
		flex-direction: column;

		.icon {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 61px;
			height: 61px;
			background-color: $main-blue;
			border-radius: 5px;
			margin-bottom: 50px;
		}

		.title {
			font-size: 20px;
			font-weight: 700;
			color: $main-blue;
			margin-bottom: 20px;
		}

		.text {
			font-size: 16px;
			color: rgba(94, 94, 94, 1);
		}

		@media (max-width: 767px) {
			min-width: 100%;
		}
	}

	.controls {
		display: none;

		@media (max-width: 767px) {
			margin-top: 23px;
			display: flex;
			justify-content: center;
			gap: 7px;

			button {
				width: 34px;
				height: 34px;
				border-radius: 50%;
				border: none;
				background: white;
				cursor: pointer;
				font-size: 14px;
				transition: 0.2s;
			}
		}
	}
}
