.root {
	padding: 80px 16px;
	background: $main-white;

	@media (max-width: 1023px) {
		padding: 40px 80px;
	}

	@media (max-width: 767px) {
		padding: 40px 20px;
	}
}

.title {
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 60px;

	@media (max-width: 1023px) {
		line-height: 32px;
		margin-bottom: 28px;
		text-align: left;
	}
}

.wrapper {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;

	@media (max-width: 767px) {
		padding-left: 15px;
	}
}

.line {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	width: 6px;
	height: 100%;
	background: $main-light-blue;
	border-radius: 4px;

	@media (max-width: 1023px) {
		left: -20px;
		transform: none;
	}

	@media (max-width: 767px) {
		left: -10px;
	}
}

.lineProgress {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: $main-blue;
	border-radius: 4px;
	will-change: height;
}

.dot {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: $main-blue;
	will-change: top;
	border: 3px solid $main-white;
}

.steps {
	display: flex;
	flex-direction: column;
	gap: 100px;

	@media (min-width: 1440px) {
		gap: 150px;
	}

	@media (max-width: 1023px) {
		gap: 60px;
	}
}

.step {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	opacity: 0.4;
	transition: opacity 0.3s;

	&.active {
		opacity: 1;
	}

	@media (max-width: 1023px) {
		flex-direction: column;
	}
}

.left {
	display: flex;
	justify-content: flex-end;
	width: 45%;

	h3 {
		font-size: 36px;
		font-weight: 700;
		text-align: right;

		@media (max-width: 1023px) {
			text-align: left;
			font-size: 28px;
			line-height: 32px;
		}
	}

	@media (max-width: 1023px) {
		width: 100%;
		justify-content: flex-start;
	}
}

.right {
	width: 45%;

	p {
		max-width: 70%;
		font-size: 20px;
		font-weight: 500;
		color: $main-light-black;
		margin-bottom: 28px;

		@media (max-width: 1023px) {
			font-size: 16px;
		}
	}

	button {
		height: 55px;
		background: $main-blue;
		color: $main-white;
		text-align: center;
		border: none;
		border-radius: 45px;
		padding: 0 32px;
		font-size: 20px;
		cursor: pointer;
		transition: all .4s;

		&:hover {
			background: $color-hover-primary;
		}

		@media (max-width: 1023px) {
			font-size: 18px;
		}
	}

	@media (max-width: 1023px) {
		width: 100%;
	}
}

.badge {
	display: block;
	width: fit-content;
	background: $main-light-blue;
	color: $main-blue;
	border-radius: 45px;
	padding: 21px 27px;
	font-size: 20px;
	font-weight: 500;
	margin-left: auto;
	margin-bottom: 12px;

	@media (max-width: 1023px) {
		margin-left: 0;
		padding: 20px;
		margin-bottom: 28px;
	}
}


.withIcon {
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.icons {
	display: flex;
	margin-bottom: 24px;

	& img {
		width: 136px;
		height: 154px;

		@media (max-width: 1023px) {
			height: 105px;
			width: auto;
		}
	}

	@media (max-width: 1023px) {
		margin-top: 40px;
	}
}
