.root {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $main-light-blue;
	padding: 0 60px;

	.content {
		display: flex;
		align-items: center;
		gap: 20px;
		color: $main-blue;
		font-size: 28px;
		text-align: center;
		@media (max-width: 1023px) {
			flex-direction: column-reverse;
			font-size: 18px;

			img {
				width: 50px;
				height: auto;
			}
		}
	}
}
