.root {

  padding: 40px 0;
  background-color: $main-light-blue;

  @media (max-width: 1023px) {
    padding: 40px 60px;
  }

  @media (max-width: 767px) {
    padding: 20px ;
  }

  .container {
    max-width: 864px;
    margin: 0 auto;
  }

  .header {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 40px;

    @media (max-width: 1023px) {
      margin-bottom: 40px;
      gap: 20px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
      gap: 15px;
    }

    img {
      width: 72px;
      height: 72px;

      @media (max-width: 1023px) {
        width: 60px;
        height: 60px;
      }
    }

    h4 {
      font-size: 36px;

      @media (max-width: 1023px) {
        font-size: 32px;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .step {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 16px;

    .stepLine {
      color: $main-blue;
      font-size: 24px;
      font-weight: 700;
      margin-right: 10px;
    }

    .stepText {
      color: $main-black;
    }
  }

  .info {
    width: 100%;
    padding: 40px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 44px;
    background-color: $main-white;
    margin-top: 40px;
  }
}