.root {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
  color: $main-light-black;
  margin-bottom: 28px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  svg {
    width: 17px;
    height: 17px;

    transform: rotate(-180deg);
  }

  @media (max-width: 1023px) {
    font-size: 16px;
    margin-bottom: 20px;
  }
}