.root {
  width: 100%;
  background-color: $main-white;
  padding: 40px;
  border-radius: 44px;

  .cardTitle {
    display: block;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .cardInfo {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 38px;
  }

  .cardLogo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #3e88e8;
  }

  .cardMeta {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-size: 16px;
    color: $main-light-black;
  }

  .showOnMap {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $main-blue;
    font-weight: 500;
  }

  .cardFooter {
    display: flex;
    justify-content: space-between;
  }

  .cardPrice {
    display: flex;
    flex-direction: column;

    & strong {
      font-size: 22px;
    }

    & span {
      font-size: 16px;
      color: $main-light-black;
    }
  }

  .takeOrder {
    border: none;
    outline: none;
    border-radius: 45px;
    padding: 20px 60px;
    background-color: $main-blue;
    color: $main-white;
  }
}