.root {
	width: 100%;
	background-color: $main-white;
	border-radius: 33px;
	padding: 28px;

	@media (min-width: 1440px) {
		padding: 40px;
		border-radius: 44px;
	}

	@media (max-width: 1023px) {
		padding: 20px;
	}

	.cardTitle {
		display: block;
		font-size: 22px;
		font-weight: 700;
		margin-bottom: 20px;

		@media (max-width: 1023px) {
			font-size: 18px;
		}
	}

	.cardInfo {
		display: flex;
		//align-items: center;
		gap: 20px;
		margin-bottom: 38px;
	}

	.cardLogo {
		width: 53px;
		height: 53px;
		border-radius: 50%;
		background-color: #3e88e8;

		@media (min-width: 1440px) {
			width: 70px;
			height: 70px;
		}

		@media (max-width: 767px) {
			display: none;
		}
	}

	.cardMeta {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 9px;
		font-size: 16px;
		color: $main-light-black;
	}

	.showOnMap {
		display: flex;
		align-items: center;
		gap: 10px;
		color: $main-blue;
		font-weight: 500;
	}

	.cardFooter {
		display: flex;
		justify-content: space-between;

		@media (max-width: 767px) {
			flex-direction: column;
			align-items: center;
		}
	}

	.cardPrice {
		display: flex;
		flex-direction: column;

		@media (max-width: 767px) {
			align-self: flex-start;
			margin-bottom: 20px;
		}

		& strong {
			font-size: 22px;

			@media (max-width: 1023px) {
				font-size: 18px;
			}
		}

		& span {
			font-size: 16px;
			color: $main-light-black;

			@media (max-width: 1023px) {
				font-size: 14px;
			}
		}
	}

	.takeOrder {
		font-size: 18px;
		border: none;
		outline: none;
		border-radius: 45px;
		padding: 20px 60px;
		background-color: $main-blue;
		color: $main-white;

		@media (max-width: 767px) {
			width: 100%;
		}
	}
}
