.root {

	background-color: $main-light-blue;
	padding-bottom: 40px;


	.header {
		margin-bottom: 40px;

		@media (max-width: 1023px) {
			margin-bottom: 20px;
		}
	}
	.title {
		font-size: 36px;
		font-weight: 700;

		@media (max-width: 1023px) {
			font-size: 32px;
		}
	}

	.content {
		padding: 120px 98px;

		@media (min-width: 1440px) {
			padding: 140px 98px;
		}

		@media (max-width: 1440px) {
			padding: 120px 60px 40px;
		}

		@media (max-width: 1023px) {
			padding-bottom: 0;
		}
		@media (max-width: 767px) {
			padding: 120px 20px 20px;
		}
	}

	.image {
		width: 100%;
		height: 315px;
		background-color:rgba(212, 221, 232, 1);
		border-radius: 44px;
		margin-bottom: 40px;

		@media (min-width: 1440px) {
			height: 420px;
		}

		@media (max-width: 1023px) {
			height: 229px;
			margin-bottom: 20px;
		}

		@media (max-width: 767px) {
			height: 187px;
		}
	}

	.description {
		font-size: 16px ;
		white-space: pre-line;
	}
}
