.root {
	position: fixed;
	width: 100%;
	height: 116px;
	padding: 0 98px;
	z-index: 10;


	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		background-color: $main-white;
		border-radius: 0 0 33px 33px;
		padding: 0 28px;

		@media (max-width: 1023px) {
			padding: 20px;
		}
	}

	.logo {
		& img {
			width: 301px;
			height: 60px;

			@media (max-width: 1440px) {
				width: 226px;
				height: 45px;
			}

			@media (max-width: 1024px) {
			}

			@media (max-width: 767px) {
				padding: 0;
			}
		}

		@media (max-width: 767px) {
			display: none;
		}
	}

	.logoMobile {
		display: none;

		& img {
			width: 44px;
			height: auto;
		}

		@media (max-width: 767px) {
			display: block;
		}
	}

	.rightSection {
		display: flex;
		gap: 24px;


		@media (max-width: 1023px) {
			gap: 14px;
		}

		.info {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}

		.location {
			display: flex;
			align-items: center;
			align-self: flex-end;
			gap: 5px;
			cursor: pointer;
		}

		.contacts {
			display: flex;
			align-items: center;
			gap: 10px;
		}

		.socialIcons {
			display: flex;
			gap: 5px;
		}

		.phone {
			display: block;
			font-size: 30px;
			font-weight: 700;
			cursor: pointer;
			@media (max-width: 1440px) {
				font-size: 22px;
			}

			@media (max-width: 767px) {
				font-size: 18px;
			}
		}

		.buttons {
			display: flex;
			align-items: center;
			gap: 28px;

			@media (max-width: 1440px) {
				gap: 20px;
			}
		}
	}

	.catalogBtn {

		button {
			&:hover {
				background-color: $main-blue;
				color: $main-white;
			}

		}

		@media (max-width: 1080px) {
			display: none;
		}
	}

	@media (min-width: 1440px) {
		padding: 0 130px;
	}

	@media (max-width: 1439px) {
		height: 87px;
		padding: 0 60px;
	}

	@media (max-width: 767px) {
		height: 80px;
		padding: 0;
	}

}
