.root {
	.swiper {
	}

	.banner {
		display: flex;
		height: 690px;
		position: relative;
		overflow: hidden;

		@media (min-width: 1440px) {
			height: 720px;
		}

		@media (max-width: 1023px) {
			flex-direction: column;
			height: fit-content;
			padding: 20px 80px 84px;
		}

		@media (max-width: 766px) {
			padding: 20px 20px 84px;
		}
	}

	.left {
		width: 100%;
		height: 400px;

	}

	.right {
		width: 100%;
		position: relative;

		@media (max-width: 1023px) {
		}

		@media (max-width: 767px) {
		}
	}

	.formImage {
		position: absolute;
		right: -170px;
		top: 0;
		z-index: 0;

		& img {
			width: 901px;
			height: auto;

			@media (max-width: 1023px) {
				width: 770px;
			}

			@media (max-width: 767px) {
				width: 457px;
			}
		}

		@media (min-width: 1440px) {
			top: 0;
			right: 0;
		}

		@media (max-width: 1023px) {
			bottom: 10px;
			top: auto;
			right: -100;
		}

		@media (max-width: 767px) {
			top: 0;
			bottom: auto;
			right: -20px;
		}

		@media (max-width: 480px) {
			right: -100px;
		}
	}

	.personImage {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: 100%;

		& img {
			position: absolute;
			bottom: -10px;
			right: 80px;
			width: 424px;
			height: auto;

			@media (min-width: 1440px) {
				right: 250px;
			}

			@media (max-width: 1023px) {
				position: relative;
				width: 391px;
				margin: 0 auto;
				bottom: 0;
				right: 0;
			}

			@media (max-width: 767px) {
				width: 232px;
			}
		}
	}

	.personInfo {
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: $main-white;
		border-radius: 16px;
		padding: 36px;
		position: relative;
		z-index: 10;

		&__title {
			color: $main-blue;
			font-size: 16px;
			font-weight: 500;

			@media (max-width: 767px) {
				line-height: 32px;
			}
		}

		&__price {
			font-weight: 700;
			font-size: 32px;

			@media (min-width: 1400px) {
				font-size: 44px;

			}
		}

		@media (min-width: 1023px) {
			position: absolute;
			left: 0;
			width: fit-content;
			height: fit-content;
			bottom: 112px;
		}

		@media (min-width: 1400px) {
		left: -70px;

		}
		@media (min-width: 1600px) {
		}

		@media (max-width: 767px) {
			padding: 20px;
		}
	}
}
