.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.filterBlock {
	margin-bottom: 40px;

	.filterTitle {
		font-size: 22px;
		font-weight: 700;
		margin-bottom: 14px;
	}

  @media (max-width: 1023px) {
    padding: 0 20px;
  }
}

.row {
	display: flex;
	gap: 40px;

	@media (max-width: 1439px) {
		flex-direction: column;
	}

  @media (max-width: 1023px) {
    flex-direction: row;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;


  @media (max-width: 1023px) {
    margin-top: auto;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
    background-color: $main-white;
    border-radius: 33px 33px 0 0;
  }

  button {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    color: $main-blue;
    border: 1px solid $main-blue;
    border-radius: 45px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: all .4s;

    &:hover {
      background-color: $main-blue;
      color: $main-white
    }


    @media (max-width: 1023px) {
      flex-direction: row;
      padding: 16px;
      background-color: transparent;
      gap: 20px;
      font-size: 16px ;
    }

    &:last-child {
      color: $main-black;
      border: 1px solid $main-black;

      &:hover {
        background-color: transparent;
        color: $main-black;
      }
    }
  }
}