.root {
	background-color: $main-white;
	padding: 80px 98px;

	@media (max-width: 1919px) {
		padding: 60px 98px;
	}

	@media (max-width: 1439px) {
		padding: 60px 60px;
	}

	@media (max-width: 767px) {
		padding: 40px 20px;
	}
}

.cityVacanci {
	width: 100%;
	display: flex;
	gap: 20px;
	height: 340px;

	@media (max-width: 767px) {
		flex-direction: column;
		height: 640px;
	}
}

.search {
	display: flex;
	flex-direction: column;
	flex-basis: 40%;
	height: 100%;
	background-color: $main-blue;
	color: $main-white;
	border-radius: 16px;
	padding: 46px;

	@media (max-width: 1429px) {
		flex-basis: 50%;
	}

	@media (max-width: 1023px) {
		padding: 28px 21px;
	}

	.title {
		font-size: 48px;
		font-weight: 700;
		color: $main-white;
		line-height: 50px;
		margin-bottom: 36px;

		@media (max-width: 1919px) {
			font-size: 36px;
			line-height: 37px;
			margin-bottom: 24px;
		}

		@media (max-width: 1023px) {
			font-size: 32px;
		}
	}

	.subtitle {
		font-size: 28px;
		font-weight: 500;
		color: rgba(255, 255, 255, 0.7);
		margin-bottom: 60px;

		@media (max-width: 1919px) {
			font-size: 20px;
			margin-bottom: 46px;
		}

		@media (max-width: 1023px) {
			font-size: 16px;
		}
	}

	.searchInput {
		input {
			padding: 0 13px 0 21px;
			height: 45px;
		}
	}

	.searchIcon {
		color: $main-blue;
		right: 13px;

		svg {
			width: 18px;
			height: 18px;
		}
	}
}

.map {
	position: relative;
	flex-basis: 60%;
	height: 100%;
	border-radius: 16px;
	overflow: hidden;

	@media (max-width: 1439px) {
		flex-basis: 50%;
	}
}

.mapItems {
	position: absolute;
	inset: 0;
	pointer-events: none;
	overflow: visible;
}

.mapItem {
	position: absolute;
	width: 60px;
	height: 60px;

	animation-name: float;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item_1 {
	top: 10%;
	left: 10%;
	animation-duration: 8s;
}

.item_2 {
	bottom: 10%;
	left: 55%;
	animation-duration: 10s;
	animation-delay: -2s;
}

.item_3 {
	top: 20%;
	left: 40%;
	animation-duration: 9s;
}

.item_4 {
	top: 10%;
	left: 70%;
	animation-duration: 11s;
	animation-delay: -3s;
}

.item_5 {
	bottom: 15%;
	left: 20%;
	animation-duration: 12s;
}

.item_6 {
	top: 45%;
	left: 80%;
	animation-duration: 10s;
	animation-delay: -1s;
}

@keyframes float {
	0% {
		transform: translate(0, 0);
	}

	25% {
		transform: translate(8px, -10px);
	}

	50% {
		transform: translate(-6px, 6px);
	}

	75% {
		transform: translate(10px, 4px);
	}

	100% {
		transform: translate(0, 0);
	}
}
