.root {
	width: 100%;
	background-color: $main-light-blue;
	padding: 60px 0;
	margin-top: 100px;

	.header {
		width: 100%;
		text-align: right;
		margin-bottom: 40px;

		@media (max-width: 1200px) {
			padding: 0 25px;
		}

		@media (max-width: 767px) {
			padding: 0 15px;
		}

		@media (max-width: 1023px) {
			text-align: center;
			margin-bottom: 30px;
		}

		h4 {
			font-size: 48px;
			margin-bottom: 15px;

			@media (max-width: 1023px) {
				font-size: 32px;
			}

			@media (max-width: 767px) {
				font-size: 28px;
			}
		}

		span {
			font-size: 22px;

			@media (max-width: 767px) {
				font-size: 18px;
			}
		}
	}

	.container {
		max-width: 1200px;
		margin: 0 auto;

		@media (min-width: 1440px) {
			//max-width: 1400px;
		}
	}

	.heroes {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
		margin: 0 auto;
		margin-bottom: 40px;
		max-width: 1200px;
		padding: 0;

		@media (max-width: 1200px) {
			padding: 0 0 0 60px;
			overflow-x: scroll;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		@media (max-width: 1023px) {
			padding: 0 25px;
		}

		@media (max-width: 767px) {
			padding: 0 15px;
		}

		.hero {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: 20px;
			width: 402px;
			height: 449px;
			position: relative;
			overflow: hidden;
			border-radius: 16px;

			@media (max-width: 1200px) {
				min-width: 402px;
			}


			@media (max-width: 767px) {
				width: 344px;
				height: 370px;
				min-width: 344px;
			}

			.bg {
				object-fit: cover;
			}
		}

		span {
			position: relative;
			z-index: 1;
			font-weight: 500;
			color: $main-white;
			font-size: 22px;
		}
	}

	.link {
		display: block;
		width: fit-content;
		color: $main-white;
		font-size: 18px;
		font-weight: 500;
		border-radius: 60px;
		background-color: rgba(0, 101, 225, 1);
		cursor: pointer;
		padding: 28px 36px;
		margin: 0 auto;
		margin-bottom: 30px;

		@media (max-width: 767px) {
			font-size: 18px;
			width: 100%;
			text-align: center;
		}
	}

	.hashtags {

		@media (max-width: 1440px) {
			padding: 0 60px;
		}

		@media (max-width: 1023px) {
			padding: 0 25px;
		}

		@media (max-width: 767px) {
			padding: 0 15px;
		}

		h4 {
			font-size: 36px;
			font-weight: 700;
			margin-bottom: 30px;

			@media (max-width: 1023px) {
				text-align: center;
				font-size: 32px;
				margin-bottom: 20px;
			}

			@media (max-width: 767px) {
				font-size: 28px;
			}
		}

		.hashtagsList {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 18px;

			@media (max-width: 767px) {
				grid-template-columns: 1fr;
				gap: 8px;
			}
		}

		.hashtag {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 20px 0;
			color: $main-blue;
			border: 1px solid $main-blue;
			border-radius: 11px;
			font-size: 18px;
			font-weight: 500;
			cursor: pointer;
		}
	}
}
