.root {
  max-width: 920px;
  margin: 0 auto 60px;
  text-align: left;
  background-color: $main-white;
}

.item {
}

.head {
  width: 100%;
  background: none;
  border: none;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  text-align: left;

  @media (max-width: 1023px) {
    padding: 28px 0;
  }

  @media (max-width: 767px) {
    padding: 20px 0;
    font-size: 18px;
  }
}

.question {
  color: $main-blue;
  font-size: 36px;
  @media (max-width: 767px) {
    font-size: 28px;
  }
}

.icon {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  transition: transform 0.35s ease;

  @media (max-width: 1023px) {
    width: 40px;
    height: 40px;
  }
}

.icon svg {
  width: 100%;
  height: 100%;
  display: block;

  rect {
    transition: all .4s;
    &:hover {
      fill: $color-hover-blue-200;
    }
  }
}

.item.active .icon {
  transform: rotate(45deg);
}


.body {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.35s ease;
}

.bodyInner {
  overflow: hidden;
}

.item.active .body {
  grid-template-rows: 1fr;
}

.body p {
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 22px;
  color: $main-light-black;
  max-width: 700px;
}

.active .body {
  grid-template-rows: 1fr;
}

.all {
  padding: 20px 28px;
  border-radius: 45px;
  border: none;
  background: $main-blue;
  color: $main-white;
  font-size: 20px;
  cursor: pointer;

  @media (max-width: 1023px) {
    width: 100%;
    margin-top: -40px;
  }
}