.footer {
	background: $main-white;
}

.container {
	margin: 0 auto;
    padding: 48px 60px 24px 60px;

  @media (max-width: 1023px) {
    max-width: 100%;
  }

  @media (max-width: 767px) {
    padding: 48px 20px 24px 20px;
  }
}

.top {
	display: flex;
	flex-direction: column;
	gap: 61px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 1023px) {
		flex-direction: column;
		align-items: center;
		gap: 49px;
	}
}

.logo {
	& img {
		width: 301px;
		height: 60px;

		@media (max-width: 1440px) {
			width: 231px;
			height: 46px;
		}

		@media (max-width: 1023px) {
			width: 221px;
			height: 44px;
		}
	}
}

.directBtn {
	border: 1px solid $main-black;
	font-weight: 500;
	font-size: 18px;
	border-radius: 999px;
	padding: 10px 16px;
	background: transparent;
	cursor: pointer;
	width: fit-content;
}

.contacts {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-weight: 500;
	font-size: 20px;

	@media (max-width: 1023px) {
		align-items: center;
		font-size: 18px;
	}

	.city {
		display: flex;
		align-items: center;
		gap: 10px;
		color: $main-light-black;
	}

	.phone {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.mail {
	}

	.socials {
		display: flex;
		gap: 8px;

		a {
			width: 28px;
			height: 28px;
			border-radius: 50%;
			background: #eaeaea;
			display: block;
		}
	}

	.apps {
		p {
			color: $main-light-black;
			margin-bottom: 36px;
		}

		div {
			display: flex;
			gap: 8px;
		}

		a {
			padding: 6px 10px;
			border-radius: 10px;
			border: 1px solid #e0e0e0;
			background: #f7f7f7;
		}
	}
}

.links {
	display: flex;
	flex: 1;
	justify-content: space-between;

	@media (max-width: 1023px) {
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
	}

	.navLinks {
		display: flex;
		flex: 1;
		justify-content: space-between;

      @media (max-width: 1023px) {
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	a {
		color: $main-black;
		font-weight: 500;
		font-size: 16px;
		text-decoration: none;
	}
}

.apps {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	flex: 1;
	gap: 28px;
	margin-top: auto;

	div {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	a {
		display: flex;
		align-items: center;
		padding: 13px;
		border-radius: 15px;
		background: $main-light-blue;
	}

	img {
		height: 18px;
		width: auto;
	}

	@media (max-width: 1023px) {
		align-items: center;
		margin-bottom: 40px;

		br {
			display: none;
		}
	}
}

.divider {
	margin-top: 60px;
	border-top: 1px solid $main-light-black;
	opacity: 0.6;

  @media (max-width: 1023px) {
    margin-top: 45px;
  }
}

.bottom {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	font-size: 16px;
	font-weight: 500;
	color: $main-light-black;
	padding: 44px 0;

  @media (max-width: 1023px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 0;
  }
}
