.root {

  padding: 40px 0;

  @media (max-width: 1023px) {
    padding: 40px 60px;
  }

  @media (max-width: 767px) {
    padding: 20px ;
  }


  .header {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 40px;

    @media (max-width: 1023px) {
      margin-bottom: 40px;
      gap: 20px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
      gap: 15px;
    }

    img {
      width: 72px;
      height: 72px;

      @media (max-width: 1023px) {
        width: 60px;
        height: 60px;
      }
    }

    h4 {
      font-size: 36px;

      @media (max-width: 1023px) {
        font-size: 32px;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 60px;
  }

  .item {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 16px;

    .itemLine {
      color: $main-blue;
      font-size: 24px;
      font-weight: 700;
      margin-right: 10px;
    }

    .itemText {
      color: $main-black;
    }
  }


  .steps {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 32px;

    h4 {
      font-size: 18px;
      font-weight: 700;
    }
  }

  .step {
    width: 100%;
    padding: 40px;
    border-radius: 44px;
    font-size: 16px;
    background-color: $main-light-blue;

    @media (max-width: 767px) {
      padding: 22px;
      border-radius: 22px;
    }

    span {
      font-weight: 700;
      margin-bottom: 10px;
    }

    p {

    }

  }
}