.root {
	background-color: $main-white;

	.bannerWrapper {
		padding: 60px 98px;

		@media (max-width: 1439px) {
			padding: 60px 60px;
		}

		@media (max-width: 767px) {
			padding: 20px 20px;
		}
	}

	.banner {
		position: relative;
		width: 100%;
		height: 340px;
		background-color: $main-light-blue;
		border-radius: 16px;

		@media (min-width: 1440px) {
			height: 454px;
		}

		@media (max-width: 1439px) {
			height: 355px;
		}

		@media (max-width: 1023px) {
			height: 340px;
		}

		@media (max-width: 767px) {
			height: 550px;
		}
	}
}

.image {
	img {
		position: absolute;
		bottom: 0;
		width: auto;
		height: 368px;
		right: 0;

		@media (min-width: 1440px) {
			height: 490px;
		}

		@media (max-width: 1439px) {
			height: 380px;
			right: -30px;
		}

		@media (max-width: 1023px) {
			height: 357px;
			right: 0;
		}

		@media (max-width: 767px) {
			height: 238px;
			left: 50%;
			transform: translateX(-50%);
			bottom: 83px;
		}
	}
}

.content {
	padding: 44px 44px 0;

	@media (min-width: 1440px) {
		padding: 60px 60px 0;
	}

	@media (max-width: 1023px) {
		padding: 20px 20px 0;
	}

	@media (max-width: 767px) {
		height: 100%;
		padding-bottom: 28px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.text {
	display: flex;
	flex-direction: column;
	gap: 26px;
	margin-bottom: 38px;

	@media (min-width: 1440px) {
		gap: 36px;
		margin-bottom: 60px;
	}

	@media (max-width: 1023px) {
		gap: 20px;
	}
}

.title {
	font-size: 36px;
	font-weight: 700;
	line-height: 37.5px;
	color: $main-black;
	max-width: 500px;

	@media (min-width: 1440px) {
		max-width: 700px;
		font-size: 48px;
		line-height: 50px;
	}

	@media (max-width: 1439px) {
		max-width: 440px;
	}

	@media (max-width: 1023px) {
		line-height: 32px;
		font-size: 32px;
		max-width: 260px;
	}
}

.subtitle {
	font-size: 20px;
	font-weight: 500;
	line-height: 21px;
	color: $main-light-black;
	max-width: 350px;

	@media (min-width: 1440px) {
		font-size: 28px;
		line-height: 28px;
		max-width: 450px;
	}

	@media (max-width: 1023px) {
		font-size: 16px;
		line-height: 21px;
		max-width: 270px;
	}
}

.btn {
	outline: none;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: $main-blue;
	font-weight: 500;
	font-size: 20px;
	padding: 0 26px;
	color: $main-white;
	border: none;
	border-radius: 60px;
	cursor: pointer;

	@media (min-width: 1440px) {
		height: 77px;
		padding: 0 36px;

		font-size: 28px;
	}
}
