.root {
	min-height: 690px;

	:global(.swiper-pagination) {
		bottom: 40px;

	}

	.swiper {
		width: 100%;
		height: 100%;
	}

	.banner {
		display: flex;
		min-height: 690px;
		position: relative;
		overflow: hidden;

		@media (min-width: 1440px) {
		}

		@media (max-width: 1023px) {
			flex-direction: column;
			height: fit-content;
			padding: 20px 80px 84px;
		}

		@media (max-width: 766px) {
			padding: 20px 20px 84px;
		}
	}

	.left {
		flex: 2;
		position: relative;
		z-index: 5;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		padding: 120px 0 60px 98px;

		@media (min-width: 1440px) {
			padding-top: 150px;
		}

		@media (max-width: 1023px) {
			padding-top: 90px;
			padding-left: 0;
			padding-bottom: 70px;
		}

		@media (max-width: 767px) {
			padding-bottom: 28px;
		}
	}

	.header {
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin-bottom: 44px;

		@media (max-width: 1440px) {
			gap: 24px;
			margin-bottom: 40px;
		}

		@media (max-width: 1023px) {
			order: 2;
		}

		@media (max-width: 767px) {
			margin-bottom: 24px;
		}

		& span {
			font-size: 20px;
			font-weight: 700;
			color: $main-blue;

			@media (max-width: 1023px) {
				display: none;
			}
		}

		& h3 {
			font-size: 36px;
			font-weight: 700;
			line-height: 40px;

			@media (max-width: 1023px) {
				font-size: 32px;
				line-height: 32px;
			}
		}
	}

	.advantages {
		display: flex;
		flex-direction: column;
		gap: 27px;
		flex-wrap: wrap;
		max-width: 400px;
		margin-bottom: 68px;

		@media (max-width: 1440px) {
			gap: 24px;
			margin-bottom: 50px;
		}

		@media (max-width: 1023px) {
			max-width: 100%;
			order: 3;
		}

		@media (max-width: 767px) {
			gap: 14px;
		}
	}

	.row {
		display: flex;
		justify-content: space-between;
		gap: 27px;

		@media (max-width: 767px) {
			flex-direction: column;
			gap: 14px;
		}
	}

	.advantage {
		position: relative;
		z-index: 10;
		display: flex;
		align-items: center;
		gap: 10px;
		width: 100%;

		& span {
			font-size: 16px;
		}

		@media (max-width: 767px) {
			& br {
				display: none;
			}
		}
	}

	.getWork {
		width: fit-content;
		padding: 20px 33px;
		background-color: $main-blue;
		border-radius: 45px;
		border: none;
		outline: none;
		color: $main-white;
		font-size: 20px;
		font-weight: 500;
		text-align: center;
		margin-bottom: 32px;
		cursor: pointer;
		transition: all .4s;

		&:hover	{
			background-color: $color-hover-primary;
		}

		@media (max-width: 1023px) {
			width: 100%;
			font-size: 18px;
			order: 4;
			margin-bottom: 0;
		}
	}

	.apk {
		border-radius: 10px;
		background-color: white;
		margin-bottom: 10px;
		width: fit-content;
		padding: 10px;
		a {
			cursor: pointer;
			display: flex;
			gap: 5px;
			align-items: center;

			p {
				display: flex;
				flex-direction: column;

				span {
					font-size: 12px;
					font-weight: 500;

					&:last-child{
						font-size: 12px;
					}
				}
			}
			svg {
				width: 20px;
				height: 20px;
			}
		}
	}
	.apps {
		display: flex;
		gap: 14px;
		margin-top: auto;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 13px;
			border-radius: 10px;
			background: $main-white;
		}

		@media (max-width: 1023px) {
			margin-bottom: 40px;
			order: 1;
		}

		@media (max-width: 767px) {
			margin-bottom: 24px;
		}
	}

	.right {
		flex: 1;
		position: relative;
		width: 300px;

		@media (max-width: 1023px) {
			width: 100%;
		}

		@media (max-width: 767px) {
		}
	}

	.formImage {
		position: absolute;
		right: -170px;
		top: -20px;
		z-index: 0;

		& img {
			width: 901px;
			height: auto;

			@media (max-width: 1023px) {
				width: 770px;
			}

			@media (max-width: 767px) {
				width: 420px;
			}
		}

		@media (min-width: 1440px) {
			top: 0;
			right: 0;
		}

		@media (max-width: 1023px) {
			bottom: 10px;
			top: auto;
			right: -100;
		}

		@media (max-width: 767px) {
			top: 0;
			bottom: auto;
			right: -20px;
		}

		@media (max-width: 480px) {
			right: -100px;
		}
	}

	.personImage {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: 100%;

		& img {
			position: absolute;
			bottom: -10px;
			right: 80px;
			width: 424px;
			height: auto;

			@media (min-width: 1440px) {
				right: 250px;
			}

			@media (max-width: 1023px) {
				position: relative;
				width: 391px;
				margin: 0 auto;
				bottom: 0;
				right: 0;
			}

			@media (max-width: 767px) {
				width: 232px;
			}
		}
	}

	.personInfo {
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: $main-white;
		border-radius: 16px;
		padding: 36px;
		position: relative;
		z-index: 0;

		&__title {
			color: $main-blue;
			font-size: 16px;
			font-weight: 500;

			@media (max-width: 767px) {
				line-height: 32px;
			}
		}

		&__price {
			font-weight: 700;
			font-size: 32px;

			@media (min-width: 1400px) {
				font-size: 44px;
			}
		}

		@media (min-width: 1023px) {
			position: absolute;
			left: -300px;
			width: fit-content;
			height: fit-content;
			bottom: 140px;
		}

		@media (min-width: 1400px) {
			left: -400px;
			bottom: 112px;
		}
		@media (min-width: 1600px) {
		}

		@media (max-width: 767px) {
			padding: 20px;
		}
	}
}
