.root {
	padding: 120px 98px;
	background-color: $main-light-blue;

	@media (min-width: 1440px) {
		padding: 140px 98px;
	}

	@media (max-width: 1440px) {
		padding: 120px 60px 40px;
	}

	@media (max-width: 767px) {
		padding: 120px 20px 20px;
	}

	.header {
		margin-bottom: 40px;

		@media (max-width: 1023px) {
			margin-bottom: 20px;
		}
	}
	.title {
		font-size: 36px;
		font-weight: 700;

		@media (max-width: 1023px) {
			font-size: 32px;
		}
	}

	.list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 20px;
		max-width: 1244px;
		margin: 0 auto;

		@media (max-width: 767px) {
			flex-direction: column;
		}
	}

	.eventCard {
		width: 49%;

		@media (max-width: 1440px) {
			width: 48%;
		}

		@media (max-width: 767px) {
			width: 100%;
		}

		.image {
			height: 353px;
			width: 100%;
			background-color: rgba(212, 221, 232, 1);
			border-radius: 24px;
			margin-bottom: 28px;

			@media (max-width: 1440px) {
				height: 253px;
			}

			@media (max-width: 1023px) {
				height: 187px;
				margin-bottom: 20px;
			}
		}

		.info {
			margin-bottom: 30px;
			padding: 0 30px;

			@media (max-width: 767px) {
				padding: 0 20px;
			}

			.date {
				display: flex;
				width: 100%;
				justify-content: space-between;
				color: $main-light-black;
				font-size: 16px;
				font-weight: 500;
				margin-bottom: 30px;

				@media (max-width: 1023px) {
					margin-bottom: 20px;
				}
			}

			span {
				color: $main-black;
				font-size: 22px;
				font-weight: 700;

				@media (max-width: 1023px) {
					font-size: 18px;
				}
			}
		}


	}
}
