.root {

  padding: 40px 0;

  .header {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 60px;

    @media (max-width: 1023px) {
      margin-bottom: 40px;
      gap: 20px;
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
      gap: 15px;
    }

    img {
      width: 72px;
      height: 72px;

      @media (max-width: 1023px) {
        width: 60px;
        height: 60px;
      }
    }

    h4 {
      font-size: 36px;

      @media (max-width: 1023px) {
        font-size: 32px;
      }
    }
  }

}