.root {
	position: relative;
	width: 100%;
	height: 478px;
	background-color: $main-blue;
	border-top-left-radius: 111px;
	padding: 60px;
	overflow: hidden;

	@media (max-width: 1023px) {
		height: fit-content;
	}

	@media (max-width: 767px) {
		padding: 60px 30px;
	}

	.image {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 820px;
		height: auto;
		z-index: 0;

		@media (max-width: 1400px) {
			width: 750px;
			right: -200px;
		}

		@media (max-width: 1023px) {
			display: none;
		}
	}

	.content {
		position: relative;
		z-index: 10;
		max-width: 600px;

		@media (max-width: 1023px) {
			max-width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		h3 {
			color: $main-white;
			font-size: 42px;
			font-weight: 700;
			margin-bottom: 60px;

			@media (max-width: 1023px) {
				font-size: 32px;
			}

			@media (max-width: 767px) {
				font-size: 24px;
				margin-bottom: 30px;
			}
		}

		a {
			//display: block;
			text-align: center;
			background-color: $main-white;
			padding: 28px 36px;
			font-size: 18px;
			border-radius: 60px;
		}
	}
}
