.root {
	padding: 0 98px;

	@media (min-width: 1440px) {
		padding: 0 130px;
	}

	@media (max-width: 1439px) {
		//padding: 0 98px;
	}

	@media (max-width: 767px) {
		padding: 0 20px;
	}
}

.searchGroup {
	display: flex;
	gap: 20px;
	margin-bottom: 60px;
}

.searchInputWrapper {
	flex: 1;
}

.searchInput {
	& input {
		height: 55px;
		border: 1px solid $main-light-black;
		background-color: transparent;
	}
}

.controls {
	display: flex;
	gap: 20px;

	.cityBtn,
	.searchBtn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 233px;
		height: 55px;
		outline: none;
		border: none;
		font-size: 20px;
		font-weight: 500;
		border-radius: 45px;
		cursor: pointer;
		padding: 0 20px;
	}

	.cityBtn {
		border: 1px solid $main-light-black;
		background-color: transparent;
		color: $main-light-black;
	}

	.searchBtn {
		background-color: $main-blue;
		color: $main-white;
		justify-content: center;
		text-align: center;

		transition: background-color .3s;

		&:hover {
			background-color: #3e88e8;
		}
	}
}



.viewGroup {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}

.title {
	font-size: 36px;
	font-weight: 700;
}

.viewSwitch {
	display: flex;
	gap: 20px;
}

.viewBtn {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 13px 21px;
	font-size: 18px;
	border: none;
	border-radius: 45px;
	opacity: 0.5;
	cursor: pointer;
	background-color: transparent;
	transition: all .3s;
}

.active {
	opacity: 1;
	border: 1px solid $main-black;
}