.root {
	padding: 0 98px;

	@media (min-width: 1440px) {
		padding: 0 130px;
	}

	@media (max-width: 1439px) {
		padding: 0 60px;
	}

	@media (max-width: 767px) {
		padding: 0 20px;
	}
}

.searchGroup {
	display: flex;
	gap: 20px;
	margin-bottom: 60px;

	@media (max-width: 1023px) {
		margin-bottom: 28px;
	}
}

.searchInputWrapper {
	flex: 1;
}

.searchInput {
	& input {
		height: 55px;
		border: 1px solid $main-light-black;
		background-color: transparent;

		@media (max-width: 1023px) {
			height: 44px;
			padding: 20px 20px 20px 56px;
			font-size: 16px;
		}
	}

	& svg {
		@media (max-width: 1023px) {
			width: 18px;
			height: 18px;
		}
	}
}

.controls {
	display: flex;
	gap: 20px;

	.cityBtn,
	.searchBtn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 233px;
		height: 55px;
		outline: none;
		border: none;
		font-size: 20px;
		font-weight: 500;
		border-radius: 45px;
		cursor: pointer;
		padding: 0 20px;
	}

	.cityBtn {
		background-color: $main-white;
		color: $main-light-black;

		@media (max-width: 1023px) {
			height: 44px;
			padding: 20px;
		}

		@media (max-width: 767px) {
			display: none;
		}

		button {
			background-color: transparent;
			border-bottom: none;
			width: 100%;
		}
	}

	.filtersToggle {
		display: none;
		position: relative;

		@media (max-width: 1023px) {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 44px;
			height: 44px;
			border: 1px solid $main-black;
			color: $main-black;
			border-radius: 50%;
			background-color: transparent;
			outline: none;
		}

		.badge {
			top: -5px;
			right: 2px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $main-white;
			width: 15px;
			height: 15px;
			font-size: 10px;
			border-radius: 50%;
			background-color: rgba(255, 0, 0, 1);
			position: absolute;
		}
	}
	.searchBtn {
		background-color: $main-blue;
		color: $main-white;
		justify-content: center;
		text-align: center;

		transition: background-color 0.3s;

		&:hover {
			background-color: #3e88e8;
		}

		@media (max-width: 1023px) {
			display: none;
		}
	}
}

.viewGroup {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
	color: $main-black;

	@media (max-width: 1023px) {
		margin-bottom: 28px;
	}
}

.title {
	font-size: 36px;
	font-weight: 700;

	@media (max-width: 1023px) {
		display: none;
	}
}

.viewSwitch {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	max-height: 44px;

	@media (max-width: 1023px) {
		width: 100%;
	}
}

.viewBtn {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 13px 21px;
	font-size: 18px;
	border: none;
	border-radius: 45px;
	opacity: 0.5;
	cursor: pointer;
	background-color: transparent;
	transition: all 0.3s;
	color: $main-black;

	&:hover {
		opacity: 1;
	}

	@media (max-width: 1023px) {
		width: 100%;
	}
}

.active {
	color: $main-black;
	opacity: 1;
	border: 1px solid $main-black;
}
