.root {
	padding: 60px;

	@media (min-width: 1440px) {
		padding: 60px 98px;
	}

	@media (max-width: 767px) {
		padding: 40px 20px;
	}


	.title {
		font-size: 36px;
		margin-bottom: 52px;

		@media (max-width: 1023px) {
			font-size: 32px;
			margin-bottom: 28px;
		}
	}

	.list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 48px;
		row-gap: 0;

		@media (max-width: 1440px) {
			grid-template-columns: 1fr;
		}
	}

	.doc {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.16);

		& svg {
			min-width: 12px;
			min-height: 12px;
		}

		.left {
			display: flex;
			align-items: center;
			gap: 14px;

			& svg {
				min-width: 20px;
				min-height: 25px;
			}

			span {
				font-size: 20px;
				font-weight: 500;
				max-width: 400px;

				@media (max-width: 1440px) {
					max-width: 100%;
				}

				@media (max-width: 1023px) {
					font-size: 16px;
				}
			}
		}
	}
}
